* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
  transition: background-color 0.3s ease;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  width: 110px;
  height: 110px;
  background-image: url("./images/logo.png");
  background-size: cover;
  margin-right: 10px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.dark-mode {
  background-color: black;
  color: white;
}
button {
  all: unset;
  cursor: pointer;
  border: #252727;
}

@media screen and (max-width: 768px) {
  .icon {
    width: 50px; /* Adjust the width of the icon for smaller screens */
    height: 50px; /* Adjust the height of the icon for smaller screens */
  }

  header h1 {
    font-size: 20px; /* Adjust the font size of the heading for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .icon {
    width: 40px; /* Adjust the width of the icon for even smaller screens */
    height: 40px; /* Adjust the height of the icon for even smaller screens */
  }

  header h1 {
    font-size: 18px; /* Adjust the font size of the heading for even smaller screens */
  }
}

/* +++++++++? */
.hero {
  background-image: url("your-image-url.jpg");
  background-size: cover;
  text-align: center;
  padding: 100px 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
#more {
  display: none;
}

/* *************** */
.tilesWrap {
  padding: 0;
  margin: 50px auto;
  list-style: none;
  text-align: center;
}
.tilesWrap li {
  display: inline-block;
  width: 20%;
  min-width: 200px;
  max-width: 230px;
  padding: 80px 20px 40px;
  position: relative;
  vertical-align: top;
  margin: 10px;
  font-family: "helvetica", san-serif;
  min-height: 25vh;
  background: #262a2b;
  border: 1px solid #252727;
  text-align: left;
}
.tilesWrap li h2 {
  font-size: 114px;
  margin: 0;
  position: absolute;
  opacity: 0.2;
  top: 50px;
  right: 10px;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li h3 {
  font-size: 20px;
  color: #b7b7b7;
  margin-bottom: 5px;
}
.tilesWrap li p {
  font-size: 16px;
  line-height: 18px;
  color: #b7b7b7;
  margin-top: 5px;
}
.tilesWrap li button {
  background: transparent;
  border: 1px solid #b7b7b7;
  padding: 10px 20px;
  color: #b7b7b7;
  border-radius: 3px;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: translateY(-40px);
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}
.tilesWrap li button:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 120%;
  background: #b7b7b7;
  top: 0;
  opacity: 0;
  left: -140px;
  border-radius: 0 20px 20px 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.tilesWrap li:hover button {
  transform: translateY(5px);
  opacity: 1;
}
.tilesWrap li button:hover {
  color: #262a2b;
}
.tilesWrap li button:hover:before {
  left: 0;
  opacity: 1;
}
.tilesWrap li:hover h2 {
  top: 0px;
  opacity: 0.6;
}

.tilesWrap li:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  background: #fff;
  transform: skew(2deg, 2deg);
}
.tilesWrap li:after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.02);
}
.tilesWrap li:nth-child(1):before {
  background: #c9ffbf;
  background: -webkit-linear-gradient(to right, #ffafbd, #c9ffbf);
  background: linear-gradient(to right, #ffafbd, #c9ffbf);
}
.tilesWrap li:nth-child(2):before {
  background: #f2709c;
  background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
  background: linear-gradient(to right, #ff9472, #f2709c);
}
.tilesWrap li:nth-child(3):before {
  background: #c21500;
  background: -webkit-linear-gradient(to right, #ffc500, #c21500);
  background: linear-gradient(to right, #ffc500, #c21500);
}
.tilesWrap li:nth-child(4):before {
  background: #fc354c;
  background: -webkit-linear-gradient(to right, #0abfbc, #fc354c);
  background: linear-gradient(to right, #0abfbc, #fc354c);
}

/* ************** */
.cta-btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.about,
.company-profile,
.products-services,
.recent-launches,
.business-process,
.target-audience,
.revenue-generation,
.business-goals,
.marketing-strategies,
.technology-utilization,
.innovation-level,
.success-measurement,
.consultancy-needs {
  background: transparent;
  padding: 50px 20px;
  margin: 20px 0;
  justify-content: center;
  text-align: center;
  text-decoration: none;
}

.about h2,
.company-profile h2,
.products-services h2,
.recent-launches h2,
.business-process h2,
.target-audience h2,
.revenue-generation h2,
.business-goals h2,
.marketing-strategies h2,
.technology-utilization h2,
.innovation-level h2,
.success-measurement h2,
.consultancy-needs h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.about p,
.company-profile p,
.products-services p,
.recent-launches ul,
.business-process p,
.target-audience p,
.revenue-generation p,
.business-goals p,
.marketing-strategies p,
.technology-utilization p,
.innovation-level p,
.success-measurement p,
.consultancy-needs p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.recent-launches ul {
  list-style-type: disc;
  padding-left: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Media Queries for Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  header h1 {
    font-size: 20px;
  }

  nav ul li {
    margin-right: 10px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .cta-btn {
    padding: 8px 16px;
  }

  .about,
  .company-profile,
  .products-services,
  .recent-launches,
  .business-process,
  .target-audience,
  .revenue-generation,
  .business-goals,
  .marketing-strategies,
  .technology-utilization,
  .innovation-level,
  .success-measurement,
  .consultancy-needs {
    padding: 30px 10px;
    margin: 10px 0;
  }

  .about h2,
  .company-profile h2,
  .products-services h2,
  .recent-launches h2,
  .business-process h2,
  .target-audience h2,
  .revenue-generation h2,
  .business-goals h2,
  .marketing-strategies h2,
  .technology-utilization h2,
  .innovation-level h2,
  .success-measurement h2,
  .consultancy-needs h2 {
    font-size: 20px;
  }

  .about p,
  .company-profile p,
  .products-services p,
  .recent-launches ul,
  .business-process p,
  .target-audience p,
  .revenue-generation p,
  .business-goals p,
  .marketing-strategies p,
  .technology-utilization p,
  .innovation-level p,
  .success-measurement p,
  .consultancy-needs p {
    font-size: 14px;
  }
}

#business {
  text-align: center;
}

.active {
  font-weight: bold;
  color: blue; 
  text-decoration: underline;
}
