* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
  transition: background-color 0.3s ease;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  width: 110px;
  height: 110px;
  background-image: url("/images/logo.png");
  background-size: cover;
  margin-right: 10px;
}

header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.dark-mode {
  background-color: black;
  color: white;
}
button {
  all: unset;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .icon {
    width: 50px; /* Adjust the width of the icon for smaller screens */
    height: 50px; /* Adjust the height of the icon for smaller screens */
  }

  header h1 {
    font-size: 20px; /* Adjust the font size of the heading for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .icon {
    width: 40px; /* Adjust the width of the icon for even smaller screens */
    height: 40px; /* Adjust the height of the icon for even smaller screens */
  }

  header h1 {
    font-size: 18px; /* Adjust the font size of the heading for even smaller screens */
  }
}

.active {
  font-weight: bold;
  color: blue;
  text-decoration: underline;
}
.active:hover{
  font-size: 30px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* Media Queries for Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  header {
    padding: 10px;
  }

  header h1 {
    font-size: 20px;
  }

  nav ul li {
    margin-right: 10px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h2 {
    font-size: 28px;
  }

  .cta-btn {
    padding: 8px 16px;
  }

  .about,
  .company-profile,
  .products-services,
  .recent-launches,
  .business-process,
  .target-audience,
  .revenue-generation,
  .business-goals,
  .marketing-strategies,
  .technology-utilization,
  .innovation-level,
  .success-measurement,
  .consultancy-needs {
    padding: 30px 10px;
    margin: 10px 0;
  }

  .about h2,
  .company-profile h2,
  .products-services h2,
  .recent-launches h2,
  .business-process h2,
  .target-audience h2,
  .revenue-generation h2,
  .business-goals h2,
  .marketing-strategies h2,
  .technology-utilization h2,
  .innovation-level h2,
  .success-measurement h2,
  .consultancy-needs h2 {
    font-size: 20px;
  }

  .about p,
  .company-profile p,
  .products-services p,
  .recent-launches ul,
  .business-process p,
  .target-audience p,
  .revenue-generation p,
  .business-goals p,
  .marketing-strategies p,
  .technology-utilization p,
  .innovation-level p,
  .success-measurement p,
  .consultancy-needs p {
    font-size: 14px;
  }
}
